body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-70px;
  width:363px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u2039_input {
=======
#u2037_input {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u2039_input.disabled {
=======
#u2037_input.disabled {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u2039_div {
=======
#u2037_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2039 {
=======
#u2037 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:133px;
  top:105px;
  width:300px;
  height:25px;
  display:flex;
}
<<<<<<< HEAD
#u2039 .text {
=======
#u2037 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2039_div.disabled {
=======
#u2037_div.disabled {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2039.disabled {
}
#u2040_input {
=======
#u2037.disabled {
}
#u2038_input {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u2040_input.disabled {
=======
#u2038_input.disabled {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u2040_div {
=======
#u2038_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2040 {
=======
#u2038 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:133px;
  top:172px;
  width:300px;
  height:25px;
  display:flex;
}
<<<<<<< HEAD
#u2040 .text {
=======
#u2038 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2040_div.disabled {
=======
#u2038_div.disabled {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2040.disabled {
}
#u2041_input {
=======
#u2038.disabled {
}
#u2039_input {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u2041_input.disabled {
=======
#u2039_input.disabled {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u2041_div {
=======
#u2039_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2041 {
=======
#u2039 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:133px;
  top:241px;
  width:300px;
  height:25px;
  display:flex;
}
<<<<<<< HEAD
#u2041 .text {
=======
#u2039 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2041_div.disabled {
=======
#u2039_div.disabled {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2041.disabled {
}
#u2042_div {
=======
#u2039.disabled {
}
#u2040_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2042 {
=======
#u2040 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:70px;
  top:110px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2042 .text {
=======
#u2040 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2042_text {
=======
#u2040_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u2043_div {
=======
#u2041_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2043 {
=======
#u2041 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:70px;
  top:177px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2043 .text {
=======
#u2041 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2043_text {
=======
#u2041_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u2044_div {
=======
#u2042_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2044 {
=======
#u2042 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:70px;
  top:246px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2044 .text {
=======
#u2042 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2044_text {
=======
#u2042_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u2045_div {
=======
#u2043_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2045 {
=======
#u2043 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:247px;
  top:373px;
  width:121px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2045 .text {
=======
#u2043 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2045_text {
=======
#u2043_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2046_div {
=======
#u2044_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2046 {
=======
#u2044 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:111px;
  top:373px;
  width:121px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2046 .text {
=======
#u2044 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2046_text {
=======
#u2044_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2047_div {
=======
#u2045_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u2047 {
=======
#u2045 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:70px;
  top:452px;
  width:363px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
<<<<<<< HEAD
#u2047 .text {
=======
#u2045 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2047_text {
=======
#u2045_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2048_input {
=======
#u2046_input {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
<<<<<<< HEAD
#u2048_input.disabled {
=======
#u2046_input.disabled {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
<<<<<<< HEAD
#u2048_div {
=======
#u2046_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2048 {
=======
#u2046 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:133px;
  top:288px;
  width:300px;
  height:58px;
  display:flex;
}
<<<<<<< HEAD
#u2048 .text {
=======
#u2046 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2048_div.disabled {
=======
#u2046_div.disabled {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2048.disabled {
}
#u2049_div {
=======
#u2046.disabled {
}
#u2047_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2049 {
=======
#u2047 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:70px;
  top:288px;
  width:29px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2049 .text {
=======
#u2047 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2049_text {
=======
#u2047_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
