body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:867px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u2392 {
=======
#u2390 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:100px;
  top:236px;
  width:715px;
  height:188px;
}
<<<<<<< HEAD
#u2393_img {
=======
#u2391_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:58px;
}
<<<<<<< HEAD
#u2393 {
=======
#u2391 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2393 .text {
=======
#u2391 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2393_text {
=======
#u2391_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2394_img {
=======
#u2392_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:58px;
}
<<<<<<< HEAD
#u2394 {
=======
#u2392 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:122px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2394 .text {
=======
#u2392 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2394_text {
=======
#u2392_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2395_img {
=======
#u2393_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:58px;
}
<<<<<<< HEAD
#u2395 {
=======
#u2393 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:265px;
  top:0px;
  width:131px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2395 .text {
=======
#u2393 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2395_text {
=======
#u2393_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2396_img {
=======
#u2394_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:58px;
}
<<<<<<< HEAD
#u2396 {
=======
#u2394 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:396px;
  top:0px;
  width:131px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2396 .text {
=======
#u2394 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2396_text {
=======
#u2394_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2397_img {
=======
#u2395_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:58px;
}
<<<<<<< HEAD
#u2397 {
=======
#u2395 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:527px;
  top:0px;
  width:188px;
  height:58px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2397 .text {
=======
#u2395 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2397_text {
=======
#u2395_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2398_img {
=======
#u2396_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
<<<<<<< HEAD
#u2398 {
=======
#u2396 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:143px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2398 .text {
=======
#u2396 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2398_text {
=======
#u2396_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2399_img {
=======
#u2397_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
<<<<<<< HEAD
#u2399 {
=======
#u2397 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:143px;
  top:58px;
  width:122px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2399 .text {
=======
#u2397 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2399_text {
=======
#u2397_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2400_img {
=======
#u2398_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
}
<<<<<<< HEAD
#u2400 {
=======
#u2398 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:265px;
  top:58px;
  width:131px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u2400 .text {
=======
#u2398 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2400_text {
=======
#u2398_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2401_img {
=======
#u2399_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
}
<<<<<<< HEAD
#u2401 {
=======
#u2399 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:396px;
  top:58px;
  width:131px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u2401 .text {
=======
#u2399 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2401_text {
=======
#u2399_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2402_img {
=======
#u2400_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
<<<<<<< HEAD
#u2402 {
=======
#u2400 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:527px;
  top:58px;
  width:188px;
  height:40px;
  display:flex;
}
<<<<<<< HEAD
#u2402 .text {
=======
#u2400 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2402_text {
=======
#u2400_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2403_img {
=======
#u2401_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
<<<<<<< HEAD
#u2403 {
=======
#u2401 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:143px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2403 .text {
=======
#u2401 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2403_text {
=======
#u2401_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2404_img {
=======
#u2402_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
<<<<<<< HEAD
#u2404 {
=======
#u2402 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:143px;
  top:98px;
  width:122px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2404 .text {
=======
#u2402 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2404_text {
=======
#u2402_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2405_img {
=======
#u2403_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
<<<<<<< HEAD
#u2405 {
=======
#u2403 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:265px;
  top:98px;
  width:131px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2405 .text {
=======
#u2403 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2405_text {
=======
#u2403_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2406_img {
=======
#u2404_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
<<<<<<< HEAD
#u2406 {
=======
#u2404 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:396px;
  top:98px;
  width:131px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2406 .text {
=======
#u2404 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2406_text {
=======
#u2404_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2407_img {
=======
#u2405_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
<<<<<<< HEAD
#u2407 {
=======
#u2405 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:527px;
  top:98px;
  width:188px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2407 .text {
=======
#u2405 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2407_text {
=======
#u2405_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2408_img {
=======
#u2406_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
<<<<<<< HEAD
#u2408 {
=======
#u2406 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:143px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2408 .text {
=======
#u2406 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2408_text {
=======
#u2406_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2409_img {
=======
#u2407_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
<<<<<<< HEAD
#u2409 {
=======
#u2407 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:143px;
  top:128px;
  width:122px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2409 .text {
=======
#u2407 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2409_text {
=======
#u2407_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2410_img {
=======
#u2408_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
<<<<<<< HEAD
#u2410 {
=======
#u2408 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:265px;
  top:128px;
  width:131px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2410 .text {
=======
#u2408 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2410_text {
=======
#u2408_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2411_img {
=======
#u2409_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
<<<<<<< HEAD
#u2411 {
=======
#u2409 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:396px;
  top:128px;
  width:131px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2411 .text {
=======
#u2409 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2411_text {
=======
#u2409_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2412_img {
=======
#u2410_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
<<<<<<< HEAD
#u2412 {
=======
#u2410 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:527px;
  top:128px;
  width:188px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2412 .text {
=======
#u2410 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2412_text {
=======
#u2410_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2413_img {
=======
#u2411_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
<<<<<<< HEAD
#u2413 {
=======
#u2411 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:143px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2413 .text {
=======
#u2411 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2413_text {
=======
#u2411_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2414_img {
=======
#u2412_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
<<<<<<< HEAD
#u2414 {
=======
#u2412 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:143px;
  top:158px;
  width:122px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2414 .text {
=======
#u2412 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2414_text {
=======
#u2412_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2415_img {
=======
#u2413_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
<<<<<<< HEAD
#u2415 {
=======
#u2413 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:265px;
  top:158px;
  width:131px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2415 .text {
=======
#u2413 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2415_text {
=======
#u2413_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2416_img {
=======
#u2414_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
<<<<<<< HEAD
#u2416 {
=======
#u2414 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:396px;
  top:158px;
  width:131px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2416 .text {
=======
#u2414 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2416_text {
=======
#u2414_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2417_img {
=======
#u2415_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
<<<<<<< HEAD
#u2417 {
=======
#u2415 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:527px;
  top:158px;
  width:188px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2417 .text {
=======
#u2415 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2417_text {
=======
#u2415_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2418_input {
=======
#u2416_input {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u2418_input.disabled {
=======
#u2416_input.disabled {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u2418_div {
=======
#u2416_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2418 {
=======
#u2416 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:181px;
  top:188px;
  width:187px;
  height:25px;
  display:flex;
}
<<<<<<< HEAD
#u2418 .text {
=======
#u2416 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2418_div.disabled {
=======
#u2416_div.disabled {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2418.disabled {
}
#u2419_div {
=======
#u2416.disabled {
}
#u2417_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2419 {
=======
#u2417 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:869px;
  top:182px;
  width:98px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2419 .text {
=======
#u2417 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2419_text {
=======
#u2417_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2420_div {
=======
#u2418_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2420 {
=======
#u2418 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:106px;
  top:146px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2420 .text {
=======
#u2418 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2420_text {
=======
#u2418_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u2421_div {
=======
#u2419_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2421 {
=======
#u2419 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:106px;
  top:188px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2421 .text {
=======
#u2419 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2421_text {
=======
#u2419_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
