body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-15px;
  width:1265px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u640_img {
=======
#u1131_img {
>>>>>>> 9103e67d7ea28dda9782155dc2c90f5704c65534
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:217px;
}
<<<<<<< HEAD
#u640 {
=======
#u1131 {
>>>>>>> 9103e67d7ea28dda9782155dc2c90f5704c65534
  border-width:0px;
  position:absolute;
  left:15px;
  top:119px;
  width:1265px;
  height:217px;
  display:flex;
}
<<<<<<< HEAD
#u640 .text {
=======
#u1131 .text {
>>>>>>> 9103e67d7ea28dda9782155dc2c90f5704c65534
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u640_text {
=======
#u1131_text {
>>>>>>> 9103e67d7ea28dda9782155dc2c90f5704c65534
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
