body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-89px;
  width:184px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u2039_div {
=======
#u2018_div {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:135px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2039 {
=======
#u2018 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:89px;
  top:169px;
  width:184px;
  height:135px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2039 .text {
=======
#u2018 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2039_text {
=======
#u2018_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
