body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-22px;
  width:873px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u888_img {
=======
#u886_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:873px;
  height:73px;
}
<<<<<<< HEAD
#u888 {
=======
#u886 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:22px;
  top:95px;
  width:873px;
  height:73px;
  display:flex;
}
<<<<<<< HEAD
#u888 .text {
=======
#u886 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u888_text {
=======
#u886_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u889_img {
=======
#u887_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:51px;
}
<<<<<<< HEAD
#u889 {
=======
#u887 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:22px;
  top:37px;
  width:505px;
  height:51px;
  display:flex;
}
<<<<<<< HEAD
#u889 .text {
=======
#u887 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u889_text {
=======
#u887_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u890_div {
=======
#u888_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:23px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u890 {
=======
#u888 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:22px;
  top:14px;
  width:312px;
  height:23px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u890 .text {
=======
#u888 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u890_text {
=======
#u888_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
