body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:753px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u2494 {
=======
#u2473 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:320px;
  top:373px;
  width:100px;
  height:90px;
}
<<<<<<< HEAD
#u2495_img {
=======
#u2474_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u2495 {
=======
#u2474 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2495 .text {
=======
#u2474 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2495_text {
=======
#u2474_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2496_img {
=======
#u2475_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u2496 {
=======
#u2475 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2496 .text {
=======
#u2475 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2496_text {
=======
#u2475_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2497_img {
=======
#u2476_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u2497 {
=======
#u2476 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2497 .text {
=======
#u2476 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2497_text {
=======
#u2476_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2498_img {
=======
#u2477_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:181px;
}
<<<<<<< HEAD
#u2498 {
=======
#u2477 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:50px;
  top:192px;
  width:753px;
  height:181px;
  display:flex;
}
<<<<<<< HEAD
#u2498 .text {
=======
#u2477 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2498_text {
=======
#u2477_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2499_div {
=======
#u2478_div {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2499 {
=======
#u2478 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:77px;
  top:82px;
  width:71px;
  height:16px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2499 .text {
=======
#u2478 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2499_text {
=======
#u2478_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u2500_div {
=======
#u2479_div {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2500 {
=======
#u2479 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:187px;
  top:82px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2500 .text {
=======
#u2479 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2500_text {
=======
#u2479_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u2501_div {
=======
#u2480_div {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2501 {
=======
#u2480 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:284px;
  top:82px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2501 .text {
=======
#u2480 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2501_text {
=======
#u2480_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u2502_div {
=======
#u2481_div {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2502 {
=======
#u2481 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:386px;
  top:82px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2502 .text {
=======
#u2481 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2502_text {
=======
#u2481_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
