body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-62px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u2780 {
=======
#u2759 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:62px;
  top:181px;
  width:800px;
  height:100px;
}
<<<<<<< HEAD
#u2781_img {
=======
#u2760_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u2781 {
=======
#u2760 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2781 .text {
=======
#u2760 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2781_text {
=======
#u2760_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2782_img {
=======
#u2761_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
<<<<<<< HEAD
#u2782 {
=======
#u2761 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:108px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2782 .text {
=======
#u2761 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2782_text {
=======
#u2761_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2783_img {
=======
#u2762_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
<<<<<<< HEAD
#u2783 {
=======
#u2762 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:208px;
  top:0px;
  width:92px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2783 .text {
=======
#u2762 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2783_text {
=======
#u2762_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2784_img {
=======
#u2763_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u2784 {
=======
#u2763 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2784 .text {
=======
#u2763 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2784_text {
=======
#u2763_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2785_img {
=======
#u2764_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u2785 {
=======
#u2764 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2785 .text {
=======
#u2764 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2785_text {
=======
#u2764_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2786_img {
=======
#u2765_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u2786 {
=======
#u2765 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2786 .text {
=======
#u2765 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2786_text {
=======
#u2765_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2787_img {
=======
#u2766_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u2787 {
=======
#u2766 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2787 .text {
=======
#u2766 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2787_text {
=======
#u2766_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2788_img {
=======
#u2767_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u2788 {
=======
#u2767 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2788 .text {
=======
#u2767 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2788_text {
=======
#u2767_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2789_img {
=======
#u2768_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u2789 {
=======
#u2768 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2789 .text {
=======
#u2768 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2789_text {
=======
#u2768_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2790_img {
=======
#u2769_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
<<<<<<< HEAD
#u2790 {
=======
#u2769 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:100px;
  top:40px;
  width:108px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2790 .text {
=======
#u2769 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2790_text {
=======
#u2769_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2791_img {
=======
#u2770_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
<<<<<<< HEAD
#u2791 {
=======
#u2770 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:208px;
  top:40px;
  width:92px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2791 .text {
=======
#u2770 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2791_text {
=======
#u2770_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2792_img {
=======
#u2771_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u2792 {
=======
#u2771 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:300px;
  top:40px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2792 .text {
=======
#u2771 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2792_text {
=======
#u2771_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2793_img {
=======
#u2772_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u2793 {
=======
#u2772 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:400px;
  top:40px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2793 .text {
=======
#u2772 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2793_text {
=======
#u2772_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2794_img {
=======
#u2773_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u2794 {
=======
#u2773 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:500px;
  top:40px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2794 .text {
=======
#u2773 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2794_text {
=======
#u2773_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2795_img {
=======
#u2774_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u2795 {
=======
#u2774 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:600px;
  top:40px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2795 .text {
=======
#u2774 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2795_text {
=======
#u2774_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2796_img {
=======
#u2775_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u2796 {
=======
#u2775 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:700px;
  top:40px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2796 .text {
=======
#u2775 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2796_text {
=======
#u2775_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2797_img {
=======
#u2776_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u2797 {
=======
#u2776 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2797 .text {
=======
#u2776 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2797_text {
=======
#u2776_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2798_img {
=======
#u2777_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
<<<<<<< HEAD
#u2798 {
=======
#u2777 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:100px;
  top:70px;
  width:108px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2798 .text {
=======
#u2777 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2798_text {
=======
#u2777_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2799_img {
=======
#u2778_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
<<<<<<< HEAD
#u2799 {
=======
#u2778 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:208px;
  top:70px;
  width:92px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2799 .text {
=======
#u2778 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2799_text {
=======
#u2778_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2800_img {
=======
#u2779_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u2800 {
=======
#u2779 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:300px;
  top:70px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2800 .text {
=======
#u2779 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2800_text {
=======
#u2779_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2801_img {
=======
#u2780_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u2801 {
=======
#u2780 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:400px;
  top:70px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2801 .text {
=======
#u2780 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2801_text {
=======
#u2780_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2802_img {
=======
#u2781_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u2802 {
=======
#u2781 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:500px;
  top:70px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2802 .text {
=======
#u2781 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2802_text {
=======
#u2781_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2803_img {
=======
#u2782_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u2803 {
=======
#u2782 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:600px;
  top:70px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2803 .text {
=======
#u2782 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2803_text {
=======
#u2782_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2804_img {
=======
#u2783_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u2804 {
=======
#u2783 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:700px;
  top:70px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u2804 .text {
=======
#u2783 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2804_text {
=======
#u2783_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u2805_input {
=======
#u2784_input {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u2805_input.disabled {
=======
#u2784_input.disabled {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u2805_div {
=======
#u2784_div {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2805 {
=======
#u2784 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:62px;
  top:109px;
  width:124px;
  height:22px;
  display:flex;
}
<<<<<<< HEAD
#u2805 .text {
=======
#u2784 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2805_div.disabled {
=======
#u2784_div.disabled {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2805.disabled {
}
.u2805_input_option {
}
#u2806_input {
=======
#u2784.disabled {
}
.u2784_input_option {
}
#u2785_input {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u2806_input.disabled {
=======
#u2785_input.disabled {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u2806_div {
=======
#u2785_div {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2806 {
=======
#u2785 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:201px;
  top:109px;
  width:160px;
  height:25px;
  display:flex;
}
<<<<<<< HEAD
#u2806 .text {
=======
#u2785 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2806_div.disabled {
=======
#u2785_div.disabled {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2806.disabled {
}
#u2807_div {
=======
#u2785.disabled {
}
#u2786_div {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2807 {
=======
#u2786 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:392px;
  top:94px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u2807 .text {
=======
#u2786 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2807_text {
=======
#u2786_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u2808_input {
=======
#u2787_input {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u2808_input.disabled {
=======
#u2787_input.disabled {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u2808_div {
=======
#u2787_div {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2808 {
=======
#u2787 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:62px;
  top:70px;
  width:148px;
  height:22px;
  display:flex;
}
<<<<<<< HEAD
#u2808 .text {
=======
#u2787 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2808_div.disabled {
=======
#u2787_div.disabled {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2808.disabled {
}
.u2808_input_option {
=======
#u2787.disabled {
}
.u2787_input_option {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
}
