body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-29px;
  width:1197px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u1877 {
=======
#u1875 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:29px;
  top:151px;
  width:1197px;
  height:159px;
}
<<<<<<< HEAD
#u1878_img {
=======
#u1876_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u1878 {
=======
#u1876 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1878 .text {
=======
#u1876 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1878_text {
=======
#u1876_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1879_img {
=======
#u1877_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u1879 {
=======
#u1877 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
<<<<<<< HEAD
#u1879 .text {
=======
#u1877 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1879_text {
=======
#u1877_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1880_img {
=======
#u1878_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u1880 {
=======
#u1878 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
<<<<<<< HEAD
#u1880 .text {
=======
#u1878 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1880_text {
=======
#u1878_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1881_img {
=======
#u1879_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u1881 {
=======
#u1879 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
<<<<<<< HEAD
#u1881 .text {
=======
#u1879 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1881_text {
=======
#u1879_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1882_img {
=======
#u1880_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u1882 {
=======
#u1880 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
<<<<<<< HEAD
#u1882 .text {
=======
#u1880 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1882_text {
=======
#u1880_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1883_img {
=======
#u1881_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u1883 {
=======
#u1881 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
<<<<<<< HEAD
#u1883 .text {
=======
#u1881 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1883_text {
=======
#u1881_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1884_img {
=======
#u1882_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u1884 {
=======
#u1882 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1884 .text {
=======
#u1882 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1884_text {
=======
#u1882_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1885_img {
=======
#u1883_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u1885 {
=======
#u1883 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1885 .text {
=======
#u1883 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1885_text {
=======
#u1883_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1886_img {
=======
#u1884_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u1886 {
=======
#u1884 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1886 .text {
=======
#u1884 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1886_text {
=======
#u1884_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1887_img {
=======
#u1885_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
<<<<<<< HEAD
#u1887 {
=======
#u1885 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1887 .text {
=======
#u1885 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1887_text {
=======
#u1885_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1888_img {
=======
#u1886_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
<<<<<<< HEAD
#u1888 {
=======
#u1886 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:98px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1888 .text {
=======
#u1886 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1888_text {
=======
#u1886_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1889_img {
=======
#u1887_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
}
<<<<<<< HEAD
#u1889 {
=======
#u1887 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:1098px;
  top:0px;
  width:99px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1889 .text {
=======
#u1887 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1889_text {
=======
#u1887_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1890_img {
=======
#u1888_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
<<<<<<< HEAD
#u1890 {
=======
#u1888 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:29px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1890 .text {
=======
#u1888 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1890_text {
=======
#u1888_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1891_img {
=======
#u1889_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
<<<<<<< HEAD
#u1891 {
=======
#u1889 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:100px;
  top:40px;
  width:100px;
  height:29px;
  display:flex;
}
<<<<<<< HEAD
#u1891 .text {
=======
#u1889 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1891_text {
=======
#u1889_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1892_img {
=======
#u1890_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
<<<<<<< HEAD
#u1892 {
=======
#u1890 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:100px;
  height:29px;
  display:flex;
}
<<<<<<< HEAD
#u1892 .text {
=======
#u1890 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1892_text {
=======
#u1890_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1893_img {
=======
#u1891_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
<<<<<<< HEAD
#u1893 {
=======
#u1891 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:300px;
  top:40px;
  width:100px;
  height:29px;
  display:flex;
}
<<<<<<< HEAD
#u1893 .text {
=======
#u1891 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1893_text {
=======
#u1891_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1894_img {
=======
#u1892_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
<<<<<<< HEAD
#u1894 {
=======
#u1892 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:400px;
  top:40px;
  width:100px;
  height:29px;
  display:flex;
}
<<<<<<< HEAD
#u1894 .text {
=======
#u1892 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1894_text {
=======
#u1892_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1895_img {
=======
#u1893_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
<<<<<<< HEAD
#u1895 {
=======
#u1893 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:500px;
  top:40px;
  width:100px;
  height:29px;
  display:flex;
}
<<<<<<< HEAD
#u1895 .text {
=======
#u1893 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1895_text {
=======
#u1893_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1896_img {
=======
#u1894_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
<<<<<<< HEAD
#u1896 {
=======
#u1894 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:600px;
  top:40px;
  width:100px;
  height:29px;
  display:flex;
}
<<<<<<< HEAD
#u1896 .text {
=======
#u1894 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1896_text {
=======
#u1894_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1897_img {
=======
#u1895_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
<<<<<<< HEAD
#u1897 {
=======
#u1895 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:700px;
  top:40px;
  width:100px;
  height:29px;
  display:flex;
}
<<<<<<< HEAD
#u1897 .text {
=======
#u1895 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1897_text {
=======
#u1895_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1898_img {
=======
#u1896_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
<<<<<<< HEAD
#u1898 {
=======
#u1896 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:800px;
  top:40px;
  width:100px;
  height:29px;
  display:flex;
}
<<<<<<< HEAD
#u1898 .text {
=======
#u1896 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1898_text {
=======
#u1896_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1899_img {
=======
#u1897_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
<<<<<<< HEAD
#u1899 {
=======
#u1897 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:900px;
  top:40px;
  width:100px;
  height:29px;
  display:flex;
}
<<<<<<< HEAD
#u1899 .text {
=======
#u1897 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1899_text {
=======
#u1897_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1900_img {
=======
#u1898_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
<<<<<<< HEAD
#u1900 {
=======
#u1898 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:1000px;
  top:40px;
  width:98px;
  height:29px;
  display:flex;
}
<<<<<<< HEAD
#u1900 .text {
=======
#u1898 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1900_text {
=======
#u1898_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1901_img {
=======
#u1899_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:29px;
}
<<<<<<< HEAD
#u1901 {
=======
#u1899 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:1098px;
  top:40px;
  width:99px;
  height:29px;
  display:flex;
}
<<<<<<< HEAD
#u1901 .text {
=======
#u1899 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1901_text {
=======
#u1899_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1902_img {
=======
#u1900_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1902 {
=======
#u1900 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1902 .text {
=======
#u1900 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1902_text {
=======
#u1900_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1903_img {
=======
#u1901_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1903 {
=======
#u1901 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:100px;
  top:69px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1903 .text {
=======
#u1901 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1903_text {
=======
#u1901_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1904_img {
=======
#u1902_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1904 {
=======
#u1902 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:200px;
  top:69px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1904 .text {
=======
#u1902 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1904_text {
=======
#u1902_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1905_img {
=======
#u1903_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1905 {
=======
#u1903 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:300px;
  top:69px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1905 .text {
=======
#u1903 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1905_text {
=======
#u1903_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1906_img {
=======
#u1904_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1906 {
=======
#u1904 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:400px;
  top:69px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1906 .text {
=======
#u1904 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1906_text {
=======
#u1904_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1907_img {
=======
#u1905_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1907 {
=======
#u1905 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:500px;
  top:69px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1907 .text {
=======
#u1905 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1907_text {
=======
#u1905_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1908_img {
=======
#u1906_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1908 {
=======
#u1906 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:600px;
  top:69px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1908 .text {
=======
#u1906 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1908_text {
=======
#u1906_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1909_img {
=======
#u1907_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1909 {
=======
#u1907 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:700px;
  top:69px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1909 .text {
=======
#u1907 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1909_text {
=======
#u1907_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1910_img {
=======
#u1908_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1910 {
=======
#u1908 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:800px;
  top:69px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1910 .text {
=======
#u1908 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1910_text {
=======
#u1908_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1911_img {
=======
#u1909_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1911 {
=======
#u1909 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:900px;
  top:69px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1911 .text {
=======
#u1909 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1911_text {
=======
#u1909_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1912_img {
=======
#u1910_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
<<<<<<< HEAD
#u1912 {
=======
#u1910 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:1000px;
  top:69px;
  width:98px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1912 .text {
=======
#u1910 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1912_text {
=======
#u1910_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1913_img {
=======
#u1911_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
<<<<<<< HEAD
#u1913 {
=======
#u1911 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:1098px;
  top:69px;
  width:99px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1913 .text {
=======
#u1911 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1913_text {
=======
#u1911_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1914_img {
=======
#u1912_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1914 {
=======
#u1912 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1914 .text {
=======
#u1912 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1914_text {
=======
#u1912_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1915_img {
=======
#u1913_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1915 {
=======
#u1913 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:100px;
  top:99px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1915 .text {
=======
#u1913 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1915_text {
=======
#u1913_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1916_img {
=======
#u1914_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1916 {
=======
#u1914 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:200px;
  top:99px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1916 .text {
=======
#u1914 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1916_text {
=======
#u1914_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1917_img {
=======
#u1915_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1917 {
=======
#u1915 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:300px;
  top:99px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1917 .text {
=======
#u1915 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1917_text {
=======
#u1915_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1918_img {
=======
#u1916_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1918 {
=======
#u1916 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:400px;
  top:99px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1918 .text {
=======
#u1916 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1918_text {
=======
#u1916_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1919_img {
=======
#u1917_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1919 {
=======
#u1917 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:500px;
  top:99px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1919 .text {
=======
#u1917 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1919_text {
=======
#u1917_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1920_img {
=======
#u1918_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1920 {
=======
#u1918 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:600px;
  top:99px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1920 .text {
=======
#u1918 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1920_text {
=======
#u1918_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1921_img {
=======
#u1919_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1921 {
=======
#u1919 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:700px;
  top:99px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1921 .text {
=======
#u1919 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1921_text {
=======
#u1919_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1922_img {
=======
#u1920_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1922 {
=======
#u1920 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:800px;
  top:99px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1922 .text {
=======
#u1920 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1922_text {
=======
#u1920_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1923_img {
=======
#u1921_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1923 {
=======
#u1921 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:900px;
  top:99px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1923 .text {
=======
#u1921 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1923_text {
=======
#u1921_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1924_img {
=======
#u1922_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
<<<<<<< HEAD
#u1924 {
=======
#u1922 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:1000px;
  top:99px;
  width:98px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1924 .text {
=======
#u1922 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1924_text {
=======
#u1922_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1925_img {
=======
#u1923_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
<<<<<<< HEAD
#u1925 {
=======
#u1923 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:1098px;
  top:99px;
  width:99px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1925 .text {
=======
#u1923 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1925_text {
=======
#u1923_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1926_img {
=======
#u1924_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1926 {
=======
#u1924 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1926 .text {
=======
#u1924 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1926_text {
=======
#u1924_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1927_img {
=======
#u1925_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1927 {
=======
#u1925 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:100px;
  top:129px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1927 .text {
=======
#u1925 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1927_text {
=======
#u1925_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1928_img {
=======
#u1926_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1928 {
=======
#u1926 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:200px;
  top:129px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1928 .text {
=======
#u1926 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1928_text {
=======
#u1926_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1929_img {
=======
#u1927_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1929 {
=======
#u1927 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:300px;
  top:129px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1929 .text {
=======
#u1927 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1929_text {
=======
#u1927_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1930_img {
=======
#u1928_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1930 {
=======
#u1928 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:400px;
  top:129px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1930 .text {
=======
#u1928 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1930_text {
=======
#u1928_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1931_img {
=======
#u1929_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1931 {
=======
#u1929 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:500px;
  top:129px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1931 .text {
=======
#u1929 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1931_text {
=======
#u1929_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1932_img {
=======
#u1930_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1932 {
=======
#u1930 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:600px;
  top:129px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1932 .text {
=======
#u1930 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1932_text {
=======
#u1930_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1933_img {
=======
#u1931_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1933 {
=======
#u1931 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:700px;
  top:129px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1933 .text {
=======
#u1931 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1933_text {
=======
#u1931_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1934_img {
=======
#u1932_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1934 {
=======
#u1932 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:800px;
  top:129px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1934 .text {
=======
#u1932 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1934_text {
=======
#u1932_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1935_img {
=======
#u1933_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
<<<<<<< HEAD
#u1935 {
=======
#u1933 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:900px;
  top:129px;
  width:100px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1935 .text {
=======
#u1933 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1935_text {
=======
#u1933_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1936_img {
=======
#u1934_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
<<<<<<< HEAD
#u1936 {
=======
#u1934 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:1000px;
  top:129px;
  width:98px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1936 .text {
=======
#u1934 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1936_text {
=======
#u1934_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1937_img {
=======
#u1935_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
<<<<<<< HEAD
#u1937 {
=======
#u1935 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:1098px;
  top:129px;
  width:99px;
  height:30px;
  display:flex;
}
<<<<<<< HEAD
#u1937 .text {
=======
#u1935 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1937_text {
=======
#u1935_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1938_div {
=======
#u1936_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1938 {
=======
#u1936 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:29px;
  top:111px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1938 .text {
=======
#u1936 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1938_text {
=======
#u1936_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u1939_input {
=======
#u1937_input {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u1939_input.disabled {
=======
#u1937_input.disabled {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
<<<<<<< HEAD
#u1939_div {
=======
#u1937_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1939 {
=======
#u1937 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:116px;
  top:109px;
  width:178px;
  height:25px;
  display:flex;
}
<<<<<<< HEAD
#u1939 .text {
=======
#u1937 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1939_div.disabled {
=======
#u1937_div.disabled {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1939.disabled {
}
#u1940_div {
=======
#u1937.disabled {
}
#u1938_div {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1940 {
=======
#u1938 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:325px;
  top:101px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1940 .text {
=======
#u1938 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1940_text {
=======
#u1938_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
