body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-22px;
  width:1030px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u1584_img {
=======
#u1582_img {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:222px;
}
<<<<<<< HEAD
#u1584 {
=======
#u1582 {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  position:absolute;
  left:22px;
  top:85px;
  width:1030px;
  height:222px;
  display:flex;
}
<<<<<<< HEAD
#u1584 .text {
=======
#u1582 .text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1584_text {
=======
#u1582_text {
>>>>>>> 8b0ae56a15354675c583a8a252fd800ba30e6768
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
