body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-29px;
  width:1343px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u2931_img {
=======
#u2910_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1343px;
  height:658px;
}
<<<<<<< HEAD
#u2931 {
=======
#u2910 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:29px;
  top:45px;
  width:1343px;
  height:658px;
  display:flex;
}
<<<<<<< HEAD
#u2931 .text {
=======
#u2910 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u2931_text {
=======
#u2910_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
