body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-27px;
  width:763px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u1618 {
=======
#u1597 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:27px;
  top:76px;
  width:763px;
  height:105px;
}
<<<<<<< HEAD
#u1619_img {
=======
#u1598_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
}
<<<<<<< HEAD
#u1619 {
=======
#u1598 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1619 .text {
=======
#u1598 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1619_text {
=======
#u1598_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1620_img {
=======
#u1599_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
<<<<<<< HEAD
#u1620 {
=======
#u1599 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:62px;
  top:0px;
  width:82px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1620 .text {
=======
#u1599 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1620_text {
=======
#u1599_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1621_img {
=======
#u1600_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
<<<<<<< HEAD
#u1621 {
=======
#u1600 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:82px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1621 .text {
=======
#u1600 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1621_text {
=======
#u1600_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1622_img {
=======
#u1601_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
<<<<<<< HEAD
#u1622 {
=======
#u1601 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:226px;
  top:0px;
  width:102px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1622 .text {
=======
#u1601 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1622_text {
=======
#u1601_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1623_img {
=======
#u1602_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
}
<<<<<<< HEAD
#u1623 {
=======
#u1602 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:328px;
  top:0px;
  width:96px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1623 .text {
=======
#u1602 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1623_text {
=======
#u1602_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1624_img {
=======
#u1603_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
<<<<<<< HEAD
#u1624 {
=======
#u1603 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:424px;
  top:0px;
  width:82px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1624 .text {
=======
#u1603 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1624_text {
=======
#u1603_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1625_img {
=======
#u1604_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:40px;
}
<<<<<<< HEAD
#u1625 {
=======
#u1604 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:506px;
  top:0px;
  width:257px;
  height:40px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1625 .text {
=======
#u1604 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1625_text {
=======
#u1604_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1626_img {
=======
#u1605_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
}
<<<<<<< HEAD
#u1626 {
=======
#u1605 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:62px;
  height:32px;
  display:flex;
}
<<<<<<< HEAD
#u1626 .text {
=======
#u1605 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1626_text {
=======
#u1605_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1627_img {
=======
#u1606_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
<<<<<<< HEAD
#u1627 {
=======
#u1606 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:62px;
  top:40px;
  width:82px;
  height:32px;
  display:flex;
}
<<<<<<< HEAD
#u1627 .text {
=======
#u1606 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1627_text {
=======
#u1606_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1628_img {
=======
#u1607_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
<<<<<<< HEAD
#u1628 {
=======
#u1607 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:144px;
  top:40px;
  width:82px;
  height:32px;
  display:flex;
}
<<<<<<< HEAD
#u1628 .text {
=======
#u1607 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1628_text {
=======
#u1607_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1629_img {
=======
#u1608_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
<<<<<<< HEAD
#u1629 {
=======
#u1608 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:226px;
  top:40px;
  width:102px;
  height:32px;
  display:flex;
}
<<<<<<< HEAD
#u1629 .text {
=======
#u1608 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1629_text {
=======
#u1608_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1630_img {
=======
#u1609_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
<<<<<<< HEAD
#u1630 {
=======
#u1609 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:328px;
  top:40px;
  width:96px;
  height:32px;
  display:flex;
}
<<<<<<< HEAD
#u1630 .text {
=======
#u1609 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1630_text {
=======
#u1609_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1631_img {
=======
#u1610_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
<<<<<<< HEAD
#u1631 {
=======
#u1610 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:424px;
  top:40px;
  width:82px;
  height:32px;
  display:flex;
}
<<<<<<< HEAD
#u1631 .text {
=======
#u1610 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1631_text {
=======
#u1610_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1632_img {
=======
#u1611_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:32px;
}
<<<<<<< HEAD
#u1632 {
=======
#u1611 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:506px;
  top:40px;
  width:257px;
  height:32px;
  display:flex;
}
<<<<<<< HEAD
#u1632 .text {
=======
#u1611 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1632_text {
=======
#u1611_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1633_img {
=======
#u1612_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:33px;
}
<<<<<<< HEAD
#u1633 {
=======
#u1612 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:62px;
  height:33px;
  display:flex;
}
<<<<<<< HEAD
#u1633 .text {
=======
#u1612 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1633_text {
=======
#u1612_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1634_img {
=======
#u1613_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
}
<<<<<<< HEAD
#u1634 {
=======
#u1613 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:62px;
  top:72px;
  width:82px;
  height:33px;
  display:flex;
}
<<<<<<< HEAD
#u1634 .text {
=======
#u1613 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1634_text {
=======
#u1613_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1635_img {
=======
#u1614_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
}
<<<<<<< HEAD
#u1635 {
=======
#u1614 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:144px;
  top:72px;
  width:82px;
  height:33px;
  display:flex;
}
<<<<<<< HEAD
#u1635 .text {
=======
#u1614 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1635_text {
=======
#u1614_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1636_img {
=======
#u1615_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
}
<<<<<<< HEAD
#u1636 {
=======
#u1615 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:226px;
  top:72px;
  width:102px;
  height:33px;
  display:flex;
}
<<<<<<< HEAD
#u1636 .text {
=======
#u1615 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1636_text {
=======
#u1615_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1637_img {
=======
#u1616_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:33px;
}
<<<<<<< HEAD
#u1637 {
=======
#u1616 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:328px;
  top:72px;
  width:96px;
  height:33px;
  display:flex;
}
<<<<<<< HEAD
#u1637 .text {
=======
#u1616 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1637_text {
=======
#u1616_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
<<<<<<< HEAD
#u1638_img {
=======
#u1617_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
}
<<<<<<< HEAD
#u1638 {
=======
#u1617 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:424px;
  top:72px;
  width:82px;
  height:33px;
  display:flex;
}
<<<<<<< HEAD
#u1638 .text {
=======
#u1617 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1638_text {
=======
#u1617_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1639_img {
=======
#u1618_img {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:33px;
}
<<<<<<< HEAD
#u1639 {
=======
#u1618 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:506px;
  top:72px;
  width:257px;
  height:33px;
  display:flex;
}
<<<<<<< HEAD
#u1639 .text {
=======
#u1618 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1639_text {
=======
#u1618_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
<<<<<<< HEAD
#u1640_div {
=======
#u1619_div {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1640 {
=======
#u1619 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:27px;
  top:40px;
  width:110px;
  height:36px;
  display:flex;
}
<<<<<<< HEAD
#u1640 .text {
=======
#u1619 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1640_text {
=======
#u1619_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u1641_div {
=======
#u1620_div {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1641 {
=======
#u1620 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:187px;
  top:40px;
  width:127px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
<<<<<<< HEAD
#u1641 .text {
=======
#u1620 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1641_text {
=======
#u1620_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u1642_div {
=======
#u1621_div {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1642 {
=======
#u1621 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:334px;
  top:37px;
  width:116px;
  height:20px;
  display:flex;
}
<<<<<<< HEAD
#u1642 .text {
=======
#u1621 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1642_text {
=======
#u1621_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
<<<<<<< HEAD
#u1643_div {
=======
#u1622_div {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u1643 {
=======
#u1622 {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  position:absolute;
  left:27px;
  top:206px;
  width:299px;
  height:84px;
  display:flex;
}
<<<<<<< HEAD
#u1643 .text {
=======
#u1622 .text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
<<<<<<< HEAD
#u1643_text {
=======
#u1622_text {
>>>>>>> 596a5f50f08d95f762b2d43fcc17d5aefda0ab8d
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
